:root{
    --primary-color: #0c0a6d;
    --white-color: #FFF;
    --primary-color-light: #d2d1ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

li{
    list-style: none;
    display: inline;
}

header{
    position:sticky;
    top: 0;
    left: 0;
}

header li{
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

header, footer{
    background-color: var(--primary-color);
    color: var(--white-color);
}

a{
    text-decoration: none;
    color: var(--white-color);
}

.container, .container-contact{
    max-width: 960px;
    width: 100%;
    margin: 8px auto;
}

#blog .b1{
    padding-top: 38px;

}

header .container,
#blog-text,
footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container
{
    display: flex;
}

.form-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 250px;
}
a img{
    height: 28px;
    width: auto;
    margin-left: 16px;
}

.youtube{
    background-color: var(--white-color);
}

#contact{
    background-color: var(--primary-color-light);
}

.text{
    align-items: center;
}

.text p{
    width: 90%;
    text-align: justify;
    margin: 20px;
}

h2{
    font-size: 24px;
    color: var(--primary-color);
    margin: 24px 0;
}

#contact h2{
    display: block;
    margin-bottom: 18px;
    margin-top: 24px;
}

h3{
    font-size: 18px;
    color: var(--primary-color);
    margin: 18px 0;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    display: block;
    margin: 12px 0;
    width:450px;
    height: 36px;
}

button{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius:10%;
    cursor: pointer;
    width : 120px;
    margin-bottom: 24px;
}

form input,
form textarea{
    height: 36px;
}

form textarea{
    resize: none;
    height: 72px;
}

footer{
    background-color: var(--primary-color);
    color: var(--white-color);
    
}
footer{
    display: block;
    text-align: center;
    padding: 16px 0;
}
